{% extends 'tareas/base.html' %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}

<div class="login-page">

  <div class="login-container">
    <div class="login-wrapper">

      <!-- Formulario -->
      <div class="auth-form">

        <h2>🔐 Iniciar Sesión</h2>

        <form method="post">
          {% csrf_token %}

          <input 
            type="text"
            name="username"
            placeholder="Usuario"
            required
            autofocus
          >

          <input 
            type="password"
            name="password"
            placeholder="Contraseña"
            required
          >

          <button type="submit" class="btn btn-primary w-100">
            Iniciar sesión
          </button>

        </form>

        <div class="auth-footer">
          <small>
            ¿No tenés cuenta?
            <a href="{% url 'registro' %}">Registrate</a>
          </small>
        </div>

      </div>

      <!-- Panel lateral -->
      <div class="panel-container">

        <h2>Bienvenido a TaskFlow 🧠</h2>

        <p>
          Gestioná tus tareas de forma simple,
          rápida y visual.
        </p>

      </div>

    </div>
  </div>

</div>

{% endblock %}